html {
  font-family: "Lato","PingFang SC","Microsoft YaHei",sans-serif;
  margin-top: 200;
  margin-right: 250px;
  margin-left: 250px;
  margin-bottom: 200px;
  font-size: 1.em;
  }

.header {
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 1em;
  color: DarkSlateGray;
  }


h1 {
  font-size: 2.1em;
  }

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


#title{
float: left;
}

a:link {color:black;
	text-decoration:none
}
a:visited {color:black;}
a:hover {color:gray;}

.codebox {
/* Below are styles for the codebox (not the code itself) */
border:1px solid black;
background-color:#EEEEFF;
width:300px;
overflow:auto;
padding:10px;
}
.codebox code {
/* Styles in here affect the text of the codebox */
font-size:0.9em;
/* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}
