html {
  font-family: arial, sans-serif;
  margin-top: 200;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 150px;
  font-size: 1.2em;
  }

.header {
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 1.2em;
  color: DarkSlateGray;
  }


h1 {
  font-size: 2.1em;
  }

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


#title{
float: left;
}
