{% extends "default.html" %}

{% block body %}


	<p>
		This is a very simple open source fantasy sumo league engine.
		Users can create a league by selecting scoring rules, number of players, which tournament they would like to play, etc.
		Once the league is created and rosters are entered, the server will automatically fetch match results and update league scores.
		No accounts are needed, if you would like you can provide a public key upon league creation to prove ownership of a roster.
		For the moment, once a team is created no changes to the roster are possible. This may change in future releases.
	</p>
	
	<p>
		You can view the source code, find hosting instructions, and contribute on the <a href="https://github.com/ozeki-inc/ozeki-fantasy-sumo">Official Ozeki Inc. Github</a>.
	</p>

	<h2 style="text-align:center"> <a href="static/league_setup.html"> Create a league </a> </h2>
        <h2> View existing leagues </h2>

        {% for league in leagues %}


        <ul>


            <li> <a href={{ url_for('league_view', league_id=league) }}>{{ league[:8] }} </a> </li>

        </ul>

        {% endfor %}
{% endblock %}
