<html>

	 <head>
	    <link rel="stylesheet" href='/static/main.css' />
	  </head>

    <form action="/league_setup" method="POST" form="league_params" enctype="multipart/form-data">

        How many teams?:  <input type="number" name="teams" size="10" id="n_teams" value="2" min="1" max="10">
        Roster size?:  <input type="number" name="roster" size="10" id="roster_size" value="5" min="5" max="10">
        Win points:  <input type="number" name="win_pts" size="10" id="win_pts" value="1" min="1" max="10">
        Win points:  <input type="number" name="win_pts" size="10" id="win_pts" value="1" min="1" max="10">
        Lose points:  <input type="number" name="lose_pts" size="10" id="lose_pts" value="0" min="-10" max="0">
        Rank bonus:  <input type="number" name="rank_bonus" size="10" id="rank_bonus" value="0" min="0" max="10">
        Rival multiplier:  <input type="number" name="rival" size="10" id="rival" value="1" min="1" max="10">
        <input type="submit" value="Continue">
    </form>


</html>
