<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
  </head>

    <form action="/league_submit" method="POST" enctype="multipart/form-data">
        League for tournament: {{ bansho }}, starting day: {{ start_day }}
        {% for t in range(n_teams) %} 

            <h2> Player {{ t }}'s Roster </h2> <br>

            Public key: <input type="text" name="pk_{{ t }}" required> <br>

            {% for p in range(roster_size) %}
            Wrestler {{ p }} Name: <input type="text" name="wrestler_{{ t }}_{{ p  }}" required> <br>
            {% endfor %}

        {% endfor %}

        <input type="submit" value="Create League!">
    </form>

</html>
