{% extends "default.html" %}
{% block body %}
    <h1> League: {{ results_dict['league_id'][:8] }} </h1>

    <ul>
	    <li>Full ID: <code>{{ results_dict['league_id'] }}</code></li>
	    <li>Tournament: {{ results_dict['bansho'] }}</li>
    </ul>
	    <div style="text-align:center" class="codebox"><code>{{ results_dict['league_string'] }}</code></div>

    <h2> Leaderboard </h2>

    <table>
        {% for i in range(results_dict['n_players']) %}
            <tr>
                <th> {{ results_dict[i]['player_id'] }}: {{ results_dict[i]['total'] }} </th>
            <tr>
        {% endfor %}
    </table>


    <h2> Rosters </h2>

    <table>
        <tr>
            {% for i in range(results_dict['n_players']) %}
            <th colspan="3"> {{ results_dict[i]['player_id'] }} </th>
            {% endfor %}
        </tr>

            {% for j in range(results_dict['roster_size']) %}

            <tr>
                {% for i in range(results_dict['n_players']) %}

		<td> {{ results_dict[i]['wrestlers'][j] }} </td>
        <td> <a href="{{ results_dict[results_dict[i]['wrestlers'][j]][1] }}">
                <img src="{{ results_dict[results_dict[i]['wrestlers'][j]][0] }}" width=200px>
            </a></td>
		<td> {{ results_dict[i]['total_by_wrestler'][results_dict[i]['wrestlers'][j]] }}</td>  

            {% endfor %}
            </tr>
        
        {% endfor %}
    </table>

    <h2> Day Results </h2>

    {% for d in results_dict['days_played'][::-1] %}

    <h3> Day {{ d }} </h3>

        {% for p in range(results_dict['n_players']) %}

	<h4> {{ results_dict[p]['player_id'] }} : {{ results_dict[p][d]['score'] }} </h4>
                <table>
                    <tr>
                        <th>Winner</th>
                        <th>Winner Rank </th>
                        <th>Winner Record </th>
                        <th>Loser </th>
                        <th>Loser Rank </th>
                        <th>Loser Record </th>
                        <th> Method </th>
                        <th> Pts. Earned </th>
                    </tr>
                {% for m in results_dict[p][d]['matches'] %}
                    <tr>
			{% if results_dict[m['winner']] == results_dict[m['active_wrestler']] %}
				<td><a href="{{results_dict[m['winner']][1]}}"><b>{{ m['winner'] }}</b></a></td>
			{% else %}
				<td><a href="{{results_dict[m['winner']][1]}}">{{ m['winner'] }}</a></td>
			{% endif %}
                        <td>{{ m['rank_winner'] }}</td>
                        <td>{{ m['record_winner'] }}</td>
			{% if results_dict[m['loser']] == results_dict[m['active_wrestler']] %}
				<td><a href="{{results_dict[m['loser']][1]}}"><b>{{ m['loser'] }}</b></a></td>
			{% else %}
				<td><a href="{{results_dict[m['loser']][1]}}">{{ m['loser'] }}</a></td>
			{% endif %}
                        <td>{{ m['rank_loser'] }}</td>
                        <td>{{ m['record_loser'] }}</td>
                        <td>{{ m['method'] }}</td>
                        <td>{{ m['points'] }}</td>
                    </tr>
                {% endfor %}
                </table>

        {% endfor %}

    {% endfor %}
    {% if next_day < 16 %}
	    <h2> Schedule Day {{ next_day }} </h2>
                <table>
                    <tr>
                        <th>East </th>
                        <th>East Rank </th>
                        <th>East Record </th>
                        <th>West</th>
                        <th>West Rank </th>
                        <th>West Record </th>
                    </tr>

                    {% for m in schedule %}
                    <tr>
                        <td>{{m['east']}}</td>
                        <td>{{m['rank_east']}}</td>
                        <td>{{m['recorc_east']}}</td>
                        <td>{{m['west']}}</td>
                        <td>{{m['rank_west']}}</td>
                        <td>{{m['record_west']}}</td>
                    </tr>
                    {% endfor %}
               </table> 
    {% endif %}
{% endblock %}
